<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Prueba1     </title>
</head>
<body>
 
    <div id="app">
        <h1>{{titulo}}</h1>
        <ul>
            <li v-for="fruta of frutas"> {{fruta}}  <span v-if="fruta.cantidad<=5"> - Sin Stock </span><!-- se le aplica if a la cantidad de frutas-->
            </li> <!-- Iterar(mostrar todo un array) con un for -->
           </ul>
        <ul>
            <li v-for="fruta of frutas2"> {{fruta}}  <span v-if="fruta.cantidad<=5"> - Sin Stock </span><!-- se le aplica if a la cantidad de frutas-->
            </li> <!-- Iterar(mostrar todo un array) con un for y sus atributos -->
            </ul>
        <ul>
            <li v-for="fruta of frutas2"> {{fruta.nombre}} = {{fruta.cantidad}} <span v-if="fruta.cantidad<=5"> - Sin Stock </span><!-- se le aplica if a la cantidad de frutas--></li> <!-- Iterar(mostrar un array) con un for pero solo un valor de los atributos -->
        </ul>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- se invoca url de Vue -->
<script src="01.js"></script> <!-- Se invoca archivo js ubicado en la misma carpeta que este archivo html -->
</body>
</html>